/* ref: https://www.w3schools.com/howto/howto_js_form_steps.asp %/

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04aa6d;
}

input.invalid {
  background-color: #ffdddd;
}

@media screen and (min-width: 750px) {
  .card {
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    margin: 60px auto;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  }
}

.more-margin {
  margin-top: 40px;
  margin-bottom: 10px;
}

.column-container {
  display: flex;
  flex-flow: row wrap;
}
.column {
  width: 50%;
  min-width: 320px;
  padding-left: 10px;
}

.column ul {
  list-style: none;
}

.column li::before {
  content: "\2794"; /* Unicode symbol */
  color: #212b46;
  font-weight: bold;
  padding-right: 10px;
}

.column li {
  margin-top: 10px;
}

.column li:first-child {
  margin-top: 0;
}

/* apply same radio styling to checkboxes */

.product-form__input input[type="checkbox"] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
.product-form__input input[type="checkbox"] + label {
  border: var(--variant-pills-border-width) solid
    rgba(var(--color-foreground), var(--variant-pills-border-opacity));
  background-color: rgb(var(--color-background));
  color: rgba(var(--color-foreground));
  border-radius: var(--variant-pills-radius);
  color: rgb(var(--color-foreground));
  display: inline-block;
  margin: 0.7rem 0.5rem 0.2rem 0;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 750px) {
  .product-form__input input[type="checkbox"] + label {
    margin: 0.7rem 0 0.2rem 0;
  }
}

.product-form__input input[type="checkbox"]:checked + label {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

.product-form__swatch {
  flex: 0 0 100%;
  padding: 0;
  margin: 0 0 1.2rem;
  min-width: fit-content;
  border: none;
}

.swatch_two-column {
  max-width: 37rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.swatch {
  position:relative;
  margin: 0 7px;
  width:45%;
}
.swatch-details:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.swatch-details {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid rgb(var(--color-foreground));
  min-height: 224px;
  box-shadow: 0 7px 30px -10px #96aab480;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin: auto;
}

.swatch-short {
  min-height: 180px !important;
}

.swatch-2x {
  max-width: 370px;
}

.swatch-3x {
  max-width: 185px;
}

.swatch-input {
  opacity: 0;
  width: 0 !important;
  height: 0 !important;
}

.swatch-img {
  height: 90px;
  width: 90px;
  display: block;
  margin: 0 auto;
  opacity: 0.3;
  background-size: contain !important;
}

.swatch-input:checked ~ .swatch-details > .swatch-scenario {
  opacity: 1;
}

/* Inserting this collapsed row between two flex items will make 
* the flex item that comes after it break to a new row */
.flex-break {
  flex-basis: 100%;
  height: 0;
}

.break-word {
  word-wrap: break-word;
  padding: 0 5px;
  margin-bottom: 0;
  font-weight: bold;
}

.product-form__swatch input[type="radio"] + label {
  border: var(--variant-pills-border-width) solid
    rgba(var(--color-foreground), var(--variant-pills-border-opacity));
  background-color: rgb(var(--color-background));
  color: rgba(var(--color-foreground));
  color: rgb(var(--color-foreground));
  display: inline-block;
  margin: 0.7rem 0.5rem 0.2rem 0;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
  position: relative;
}

.swatch-input:checked ~ .swatch-details {
  outline: 2px solid rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.1) !important;
}

.growIn {
  animation: growIn 0.2s;
  width: 95%;
}

@media screen and (max-width: 750px) {
  #other-service-details {
    width: 75%;
  }
  .wide-swatch {
    width: 90%;
  }
}

@keyframes growIn {
  from {
    transform: scaleX(0.5);
    transform: scaleY(0);
  }
  to {
    transform: scaleX(1);
    transform: scaleY(1);
  }
}

.sticky {
  position: -webkit-sticky; /* safari */
  position: sticky;
  bottom: 10px;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  z-index: 999;
}

.service-toggle {
  display: inline-flex;
  border-radius: 4px;
  background: #f5f5f5;
  border: 1px solid #ccc;
  margin-top: 3px;
}

.service-toggle > input[type="radio"] {
  display: none;
}
.service-toggle > input + label {
  margin-bottom: 0;
  padding: 7px 13px;
  cursor: pointer;
  float: left;
}
.service-toggle > input + label:not(:last-of-type) {
  border-right: 1px solid #ccc;
}

.service-toggle > input:checked + label {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
  transition: background 300ms linear;
}

.swatch-input:checked ~ .swatch-details > .service-toggle {
  display: flex !important;
}
.swatch-input:checked ~ .swatch-details > span {
  display: block !important;
}

.top-right {
  position: absolute !important;
  top: 5px;
  right: 5px;
}

#legal-agreement {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#legal-agreement p {
  display: inline;
}
#legal-agreement label {
  max-width: 80%;
}
#legal-agreement input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 25px;
}

.hide-me {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
  margin-right: -1px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
}

.confirmed-check {
  margin: auto 20px auto 0;
}

ol.next-list {
  list-style: none;
  counter-reset: item;
  text-align: left;
  margin: 0 20%;
}
ol.next-list > li {
  counter-increment: item;
  margin-bottom: 5px;
}
ol.next-list > li:before {
  margin-right: 10px;
  content: counter(item);
  background: #bf9b30;
  border-radius: 100%;
  color: white;
  width: 1.7em;
  text-align: center;
  display: inline-block;
}

.flex-vert-center {
  display: flex;
  align-items: center;
}

.flex-vert-center img {
  margin-right: 7px;
}
.flex-vert-center h3 {
  margin: 0;
}